* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: auto;
    width: 130px;
    margin: 5px;
}

.logo img {

    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0px;

}

.border {
    border: 2px solid transparent
}

.border:hover {
    border: 2px solid white;

}

/*box2*/

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/*box 3*/
.nav-search {
    display: flex;
    background-color: purple;
    width: 620px;
    height: 30px;
    border-radius: 5px;
}

.search-select {
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

/* Box4 */
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/*box6*/
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/*Panel*/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;

}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* HERO SECTION*/
.hero-section {
    background-image: url("../assets/images/amazon2.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    align-items: center;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

}

.hero-msg a {
    color: #007185;
}


/* shop section*/

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    border: 2px solid black;
    height: 380px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

#box1-img {
    height: 300px;
    background-image: url("../assets/images/box1.jpg");
    background-size: cover;
    background-repeat: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#box2-img {
    height: 300px;
    background-image: url("../assets/images/box2.jpg");
    background-size: cover;
    background-repeat: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#box3-img {
    height: 300px;
    background-image: url("../assets/images/box3.jpg");
    background-size: cover;
    background-repeat: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#box4-img {
    height: 300px;
    background-image: url("../assets/images/box4.jpg");
    background-size: cover;
    background-repeat: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#box5-img {
    height: 300px;
    background-image: url("../assets/images/box5.jpg");
    background-size: cover;
    background-repeat: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#box6-img {
    height: 300px;
    background-image: url("../assets/images/box6.jpg");
    background-size: cover;
    background-repeat: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#box8-img {
    height: 300px;
    background-image: url("../assets/images/box7.jpg");
    background-size: cover;
    background-repeat: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#box7-img {
    height: 300px;
    background-image: url("../assets/images/box8.jpg");
    background-size: cover;
    background-repeat: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;

}

.box-content p {
    color: #007185;
}

/** footer**/

footer {
    margin-top: 15px;

}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 0.85rem;
    align-items: center;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 1px solid white;
    height: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo-size {
    width: 150px;
    height: auto;
}

.logo1 img {
    background-size: cover;
    width: 100%;
    height: auto;
}


.foot-panel-4 {
    background-color: #1a1d1d;
    color: white;
    height: 70px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {

    padding-top: 25px;
}

.copyright {
    padding-top: 5px;

}




@media only screen and (max-width: 600px) {
    .navbar {
        height: 40px;
        background-color: #0f1111;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }

    .nav-logo {
        height: auto;
        width: 170px;
        margin: 5px;


    }

    .logo img {

        background-size: cover;
        width: 100%;
        height: auto;
        padding: 0px;
        align-items: center;

    }


    .add-first {
        color: #cccccc;
        font-size: 0.60rem;
        margin-left: 15px;
    }

    .add-second {
        font-size: 0.65rem;
        margin-left: 3px;
    }

    .add-icon {
        display: flex;
        align-items: center;
        font-size: 0.60rem;
    }

    /*box 3*/
    .nav-search {
        display: flex;
        background-color: purple;
        width: 620px;
        height: 15px;
        border-radius: 4px;
    }

    .search-select {
        width: 33px;
        background-color: #f3f3f3;
        text-align: center;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: none;
        font-size: 0.50rem;
    }

    .search-input {
        width: 100%;
        font-size: 0.60rem;
        border: none;
    }

    .search-icon {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.65rem;
        background-color: #febd68;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        color: #0f1111;
    }

    .nav-search:hover {
        border: 2px solid orange;
    }

    /* Box4 */
    span {
        font-size: 0.5rem;
        display: inline;

    }

    .nav-second {
        font-size: 0.70rem;
        font-weight: 600;
    }

    /*box6*/
    .nav-cart i {
        font-size: 15px;
    }

    .nav-cart {
        font-size: 0.70rem;
        font-weight: 700;
    }

    /*Panel*/
    .panel {
        height: 30px;
        background-color: #222f3d;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-evenly;
    }

    .panel-all {
        font-size: 0.60rem;
        display: inline;
        display: flex;
        align-items: center;
    }

    .panel-all i {
        margin: 3px;

    }

    .panel-ops p {
        display: inline;
        margin-left: 10px;

    }

    .panel-ops {
        width: 90%;
        font-size: 0.60rem;


    }

    .panel-deals {
        font-size: 0.60rem;
        font-weight: 700;
        text-align: center;
    }

    /* HERO SECTION*/
.hero-section {
    background-image: url("../assets/images/amazon2.jpg");
    height: 170px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    align-items: center;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

}
.hero-msg p{
    font-size: 0.55rem;
    text-align: center;
}

.hero-msg a {
    color: #007185;
}

    .shop-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #e2e7e6;
    }

    .box {
        border: 2px solid black;
        height: 180px;
        width: 30%;
        background-color: white;
        padding: 5px 0px 5px;
        margin-top: 10px;
    }

    .shop-section H2 {
        font-size: 1.1rem;
    }

    .shop-section p {
        font-size: 0.80rem;
    }

    #box1-img {
        height: 80px;
        background-image: url("../assets/images/box1.jpg");
        box-sizing: content-box;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-repeat: contain;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        align-items: center;
    }

    #box2-img {
        height: 120px;
        background-image: url("../assets/images/box2.jpg");
        box-sizing: content-box;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-repeat: contain;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        align-items: center;
    }

    #box3-img {
        height: 120px;
        background-image: url("../assets/images/box3.jpg");
        box-sizing: content-box;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-repeat: contain;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        align-items: center;
    }

    #box6-img {
        height: 125px;
        background-image: url("../assets/images/box6.jpg");
        box-sizing: content-box;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-repeat: contain;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        align-items: center;
    }

    #box8-img {
        height: 100px;
        background-image: url("../assets/images/box8.jpg");
        box-sizing: content-box;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-repeat: contain;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        align-items: center;
    }

    #box7-img {
        height: 100px;
        background-image: url("../assets/images/box7.jpg");
        box-sizing: content-box;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-repeat: contain;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        align-items: center;
    }

    .box-content {
        margin-left: 5px;
        margin-right: 5px;

    }

    .box-content h6 {
        color: #007185;
    }

    .box4 {
        display: none;
    }

    .box5 {
        display: none;
    }

    /** footer**/

footer {
    margin-top: 15px;

}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 0.85rem;
    align-items: center;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
    padding: 10px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 1px solid white;
    height: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo-size {
    width: 120px;
    height:30px;
}

.logo1 img {
    background-size: cover;
    width: 100%;
    height: auto;
}


.foot-panel-4 {
    background-color: #1a1d1d;
    color: white;
    height: 70px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {

    padding-top: 25px;
}

.copyright {
    padding-top: 5px;

}

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        .shop-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-color: #e2e7e6;
        }
    
        .box {
            border: 2px solid black;
            height: 220px; 
            width: 45%; 
            background-color: white;
            padding: 10px 0px 10px; 
            margin-top: 20px; 
        }
    
        .shop-section h2 {
            font-size: 1.3rem; 
        }
    
        .shop-section p {
            font-size: 1rem; 
        }
    
       
        #box1-img,
        #box2-img,
        #box3-img,
        #box6-img,
        #box7-img,
        #box8-img {
            height: 150px; 
            margin: 10px 0.2rem; 
        }
    
        .box-content {
            margin: 10px 10px; 
        }
    
        .box4,
        .box5 {
            display:none; 
        }
    }
    

}